#vaults web-url
ADDRESSCHANGE_URL="https://www.addresschange.gov.bc.ca/"
BCA_LEARN_MORE_URL="https://assessmentreportsonline-test.bcassessment.ca:54585/"
BCA_URL="https://bcrosweb-dev.bcassessment.ca:54579/"
BUS_SEARCH_LEARN_MORE="https://www2.gov.bc.ca/gov/content?id=B75BE1375F084B138B60D62C0094D9E8"
COLIN_URL="https://www.corporateonline.gov.bc.ca"
CSO_LEARN_MORE_URL="https://justice.gov.bc.ca/cso/index.do"
CSO_URL="https://dev.justice.gov.bc.ca/cso/index.do"
ESRA_LEARN_MORE_URL="https://www2.gov.bc.ca/gov/content/environment/air-land-water/site-remediation/site-information"
ESRA_URL="https://esra-dlvr-frontend.apps.silver.devops.gov.bc.ca/"
MHR_LEARN_MORE="https://www2.gov.bc.ca/gov/content/housing-tenancy/owning-a-home/manufactured-home-registry"
REGISTRY_ACCOUNT_CREATE_URL="https://dev.bcregistry.ca/business/auth/choose-authentication-method"
RPT_URL="https://staging.www.etax.gov.bc.ca/bts/Web.BCOnl/WebServices/BCO/login"
RPT_LEARN_MORE_URL="https://www2.gov.bc.ca/assets/gov/employment-business-and-economic-development/business-management/permits-licences-and-registration/registries-guides/rural_property_tax_search_user_guide.pdf"
SOCIETIES_URL="https://dev.bcregistry.ca/societies/"
STRR_URL="https://www2.qa.gov.bc.ca/gov/content/housing-tenancy/short-term-rentals/registry"
WILLS_URL="https://ewills-dev.vs.gov.bc.ca/"
WILLS_LEARN_MORE_URL="https://www2.gov.bc.ca/gov/content/life-events/death/wills-registry"

AUTH_URL="https://dev.account.bcregistry.gov.bc.ca/"
BUSINESS_URL="https://dev.account.bcregistry.gov.bc.ca/"
BCROS_BASE_URL="https://dev.bcregistry.gov.bc.ca/"
BUSINESS_SEARCH_URL="https://dev.search.business.bcregistry.gov.bc.ca"
BCOL_URL="https://d1.bconline.gov.bc.ca/"
BCEID_URL="https://www.test.bceid.ca/os/?7686&SkipTo=Basic"
NAME_REQUEST_URL="https://dev.names.bcregistry.gov.bc.ca/"
NDS_URL="https://bcregistry-bor-dev.web.app"
ORGBOOK_URL="https://orgbook.gov.bc.ca/"
REGISTRIES_API_GATEWAY_URL="https://developer.api.bcregistry.gov.bc.ca/"
PPR_URL="https://dev.assets.bcregistry.gov.bc.ca/"
SITEMINDER_LOGOUT_URL="https://logontest7.gov.bc.ca/clp-cgi/logoff.cgi"
SUPPORT_FILING_URL="https://www2.gov.bc.ca/gov/content?id=93EE4398733C4F68A39C18259D066C7C"

#vaults API
AUTH_API_URL="hhttps://auth-api-dev-142173140222.northamerica-northeast1.run.app"
AUTH_API_VERSION="/api/v1"

STATUS_API_URL="https://status-api-dev.apps.gold.devops.gov.bc.ca"
STATUS_API_VERSION="/api/v1"

#vaults launchdarkly
BCREGISTRY_LD_CLIENT_ID=""

#vaults keycloak
KEYCLOAK_AUTH_URL="https://dev.loginproxy.gov.bc.ca/auth"
KEYCLOAK_REALM="bcregistry"
KEYCLOAK_CLIENTID="ppr-web"

#google analytic
GTAG_ID=""
GTAG_DEBUG=
GTM_ID=""
