//
// CSS in this file is applied to the whole app
// via non-scoped import in default.vue.
//

// IMPORTS
@import "theme.scss";

// FONTS
@font-face {
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('~assets/fonts/BCSans/BCSans-Regular.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('~assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('~assets/fonts/BCSans/BCSans-Italic.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'BCSans';
  font-weight: 700;
  src: url('~assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('~assets/fonts/BCSans/BCSans-Bold.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: 700;
  src: url('~assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('~assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap;
}

// RESET
* {
  box-sizing: border-box;
}

// BASIC PAGE STRUCTURE / SETUP
html,
body {
  min-height: 100vh;
}

html {
  font-size: $px-16;
}

body {
  margin: 0;
  color: $gray7;
  background: $gray1;
  font-size: $px-16;
  font-family: 'BCSans', Verdana, Arial, sans-serif;
}

// TYPOGRAPHY
h1, h2, h3, h4, h5, h6 {
  color: $gray9;
  letter-spacing: -0.02rem;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: $px-32;
}

h2 {
  font-size: $px-24;

  + p {
    margin-top: 0.75rem;
  }
}

h3 {
  font-size: $px-20;
}

h4 {
  font-size: $px-16;
}

p {
  margin: 1rem 0;
}

// ELEMENTS
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol > li {
  margin: 1rem 0;
  padding:0 0 0 5rem;
  list-style-type: none;
  counter-increment: item;
}
 
ol > li:before {
  display: inline-block;
  margin-left: -5rem;
  width: 3rem;
  padding-right: 2rem;
  font-weight: bold;
  text-align: right;
  content:counter(item) ".";
}

pre {
  background-color: white !important;
}

table {
  width: 100%;
  background-color: white;
  border: 2px solid $gray1;
  border-collapse: collapse;

  th, td {
    padding: 1rem;
    border: 2px solid $gray1;
    text-align: left;
  }

  th {
    color: white;
    background-color: $BCgovBlue4;
    font-weight: bold;
    white-space: nowrap;
  }
}

// common anchor colours
.v-application .app-body a {
  color: $BCgovLink;

  &:hover {
    color: $BCgovLinkHover;
  }
}

// specific anchor styles
a.link {
  font-size: $px-16;
  font-weight: bold;
  text-decoration: underline;
}

// Common button begin
.v-btn {
  font-size: $px-14;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button-white-on-blue {
  color: white !important;
  background: $BCgovBlue5 !important;

  &:hover,
  &:focus {
    background: $BCgovBlue4 !important;
  }
}

.button-blue-on-white {
  color: $BCgovBlue5 !important;
  background: unset !important;
  border: thin solid;
}
// Common button end

// HELPER CLASSES
.align--center {
  align-self: center;
}

.table--fixed {
  table-layout: fixed;
}

.bg-gray1 {
  background-color: $gray1;
}

// .nuxt-inline-helper {
//   display: inline-block;
  
//   &:before {
//     display: inline-block;
//     width: 0.25rem;
//     content: ' ';
//   }
// }

// Common account container begin
.account-container {
  width: 100%;
  flex-wrap: wrap;
  padding: 70px 0;

  .v-card {
    max-width: 390px;
    margin: 1rem;
  }

  .v-card__title {
    color: white;
    background: $app-dk-blue;
    font-weight: bold;
    font-size: $px-16;
    padding: 14px 28px;
  }
  .v-card__text {
    font-size: $px-16;
    line-height: 1.5rem;
    color: $gray7 !important;
    padding: 28px;

    p {
      margin: 0;
    }

    ul {
      margin-top: 16px;
      list-style: square;

      li {
        color: $gray7;
        font-size: $px-16;
        font-weight: bold;
        margin-left: -8px;
      }

      li::marker {
        color: $gray4;
      }
    }

    div {
      margin-top: 24px;
    }
  }
  .account-title {
    font-size: $px-32;
    text-align: center;
  }
  .account-info {
    font-size: $px-16;
    line-height: 1.5rem;
    color: $gray7;
    text-align: center;
    max-width: 850px;
  }
  .account-info-bold {
    font-size: $px-18;
    font-weight: bold;
    color: $gray9;
    text-align: center;
  }
  .card-title-badge-container {
    position: absolute;
    top: 0;
    right: 0.75rem;
  }
  .card-title-badge {
    color: $BCgovBlue5;
    background: $BCgovGold5;
    font-size: $px-12;
    text-align: center;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    height: 30px;
    width: auto;
    padding: 0 12px;
  }
}
// Common account container end

// Common payment section begin
.payment {
  background-color: $app-bg-lt-blue;

  .payment-info-title {
    font-size: $px-18;
    font-weight: bold;
    color: $gray9;
    text-align: center;
  }
  .payment-info-text {
    font-size: $px-16;
    line-height: 1.5rem;
    color: $gray7;
    text-align: center;
    max-width: 850px;
  }
}
// Common payment section end

.theme--light.v-divider.h-divider {
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: $app-bg-lt-blue;
}

.hero-banner__cta-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-banner__cta-btns .cta-btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.hero-banner__cta-btns .cta-btns-authenticated > div,
.hero-banner__cta-btns .cta-btns-authenticated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

.hero-banner__cta-btns .cta-btns-authenticated .v-btn,
.hero-banner__cta-btns .cta-btns-authenticated > div .v-btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 13px;
}

.top-tooltip,
.left-tooltip {
  margin-left: 0 !important;
}

.v-tooltip__content {
  width: 270px !important;
  background-color: RGB(73, 80, 87) !important;
  color: white !important;
  border-radius: 4px;
  font-size: $px-12 !important;
  line-height: 18px !important;
  letter-spacing: 0;
}

.v-tooltip__content:after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  right: 100% !important;
  margin-top: -10px !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-right: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.top-tooltip:after {
  top: 100% !important;
  left: 45% !important;
  margin-top: 0 !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-top: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.left-tooltip:after {
  top: 50% !important;
  left: 100% !important;
  margin-top: -10px !important;
  border-bottom: 10px solid transparent !important;
  border-top: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-left: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.bottom-tooltip {
  width: 390px !important;
}

.bottom-tooltip:after {
  left: 45% !important;
  top: 0 !important;
  margin-top: -18px !important;
  border-top: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 8px solid RGBA(73, 80, 87, 0.95) !important;
}

.mdi-account-card-details-outline:before {
  content: "\F0DAB";
}

.v-breadcrumbs li:nth-child(2n) {
  padding: 0 6px;
}

.sbc-header {
  .v-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    text-transform: none !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: $px-14 !important;
  }
}
