//
// CSS in this file is applied to the whole app
// via non-scoped import in default.vue.
//

// #__nuxt,
// #__layout {
//   min-height: 100vh;
// }

.theme--light.v-application {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  color: $gray9;
  background-color: var(--v-background-base, $gray1) !important;
}

#appHeader {
  position: -webkit-sticky; // Safari
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.app-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}

.container {
  max-width: 1360px; // should match auth-web, etc
}
